name: Build Windows Executable

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller --onefile my_version.py

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: executable
          path: dist/your_script.exe
